body {
    display: flex;
    padding: 20px 0px 200px 0px;
    align-items: center;
    flex-direction: column;
}
#main-img {
  width: 400px;
}
h1 {
  color: purple;
  font-size: xxx-large;
}
.lable {
  color: cadetblue;
  font-size: x-large;
}
#inputBar {
  border: solid 2px salmon;
  border-radius:10em;
}
#pokemon-table {
  display: block;
}
#searchButton {
  width: 100px;
  color: white;
  background-color: rgb(255, 114, 138);
  border-radius: 10%;
}
table,
th,
td {
  border: 2px solid pink;
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
}
